{% extends 'base/base.html' %}

{% load bootstrap3 %}
{% load compile_static %}
{% load static %}
{% load i18n %}

{% block include_css %}
    {{ block.super }}

     <link rel="stylesheet" type="text/css"
        href="{% static 'base/stylesheets/opinion_user.scss'|compile %}">
{% endblock %}

{% block include_js %}
    {{ block.super }}
{% endblock %}


{% block body %}

{% if user.is_authenticated %}
    <div id="content">
        {% if opinion_list %}
            <table id="opinions">
                    <tr id="title">
                        <th>{% trans 'Opinion giver' %}</th>
                        <th>{% trans 'Description' %}</th>
                        <th>{% trans 'Rating' %}</th>
                    </tr>
                {% for opinion in opinion_list %}
                    <tr>
                        <td>
                            {{ opinion.opinion_giver }}
                        </td>
                        <td>
                            {{ opinion.description }}
                        </td>
                        <td>
                            {% for elem in ratings %}
                                {% if elem.0 == opinion.rating %}
                                    {{ elem.1 }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    <tr>
                {% endfor %}
            </table>

            {% if is_paginated %}
                <div class="pagination">
                  <span class="page-links">
                    {% if page_obj.has_previous %}
                      <a href="?desc={{ request.GET.desc }}&page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                      <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                        <a href="?desc={{ request.GET.desc }}&page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                  </span>
                </div>
            {% endif %}

        {% else %}
            <h3>Brak opinii do wyświetlenia</h3>
        {% endif %}
    </div>
{% else %}
<meta http-equiv="refresh" content="0; url={% url 'error-403' %}" />
{% endif %}

{% endblock %}
