{% extends 'base/base.html' %}

{% load bootstrap3 %}
{% load compile_static %}
{% load static %}
{% load i18n %}

{% block include_css %}
    {{ block.super }}

     <link rel="stylesheet" type="text/css"
        href="{% static 'base/stylesheets/commission_add.scss'|compile %}">
{% endblock %}

{% block include_js %}
    {{ block.super }}
{% endblock %}


{% block body %}

{% if user.is_authenticated %}
  <div id="commission-form">
    <form action="{% url 'add-commission' %}?next=/" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} {% trans 'Submit' %}
            </button>
        {% endbuttons %}
    </form>
  </div>
{% else %}
<meta http-equiv="refresh" content="0; url={% url 'error-403' %}" />
{% endif %}

{% endblock %}
