$number-of-columns: 3;
$column-width: 100%/($number-of-columns + 0.5);

@import 'margins.scss';

#content {
    @include content-margins(10vw);
}

$table-border-color: #6e6e6e;

#commissions {
    width: 90%;
    margin: auto;

    tr {
        border: 1px solid $table-border-color;

        td, th {
            width: $column-width;
            border: 1px solid $table-border-color;
            padding: 1vw;
            text-align: center;
        }

        td:nth-child(2) {
            width: (1.5)*$column-width;
        }

        th {
            background-color: #cfcfcf;
        }

    }
    tr:nth-child(2n+3) {
        background-color: #eeefff;
    }
    tr:nth-child(2n+2) {
        background-color: #fbfbfb;
    }
    #title {
        font-size: 130%;
        text-decoration: solid;
    }

    tr:nth-child(n+2):hover {
        background-color: #bde3e6;
    }

}