@import 'margins.scss';

$number-of-columns: 3;
$column-width: 100%/($number-of-columns + 0.5);

@import 'margins.scss';

#content {
    @include content-margins(10vw);
}

$table-border-color: #6e6e6e;

#opinions {
    width: 90%;
    margin: auto;

    tr {
        border: 1px solid $table-border-color;

        td, th {
            width: $column-width;
            border: 1px solid $table-border-color;
            padding: 1vw;
            text-align: center;
        }

        td:nth-child(2) {
            width: (1.5)*$column-width;
        }

        th {
            background-color: #cfcfcf;
        }

    }
    tr:nth-child(2n+3) {
        background-color: #eeefff;
    }
    tr:nth-child(2n+2) {
        background-color: #fbfbfb;
    }
    #title {
        font-size: 130%;
        text-decoration: solid;
    }

}

div#content {
    @include content-margins(10vw);
}

div#title {
    font-size: 300%;
    text-decoration: solid;
    text-align: center;
    margin: 1ex;
}

div#desc {
    border-radius: 10px;
    border: 1px solid #1d3fda;
    padding: 1ex;
    font-size: 150%;
    text-align: left;
    margin-bottom: 1ex;
}

ul#tags {
    list-style: none;
    padding: 1ex;
    font-size: 150%;
    text-align: right;
    margin-bottom: 1ex;

    li {
        float: right;
        padding-left: 1.5ex;
    }
}

div#chosen, div#choice {
    padding: 1em;
    margin: auto;
}