@import 'common.scss';

/* variables */

$text-menu-color: white;
$menu-element-color: white;
$text-logo-color: white;
$top-background-color: darkslategray;

$mobile-menu-width: 50vw;
$mobile-menu-max-width: 150px;

$nav-bar-height: 5vh;

$logo-color: rgb(8,84,79);

/* end variables */

nav {
    height: $nav-bar-height;
    background: $logo-color;
    padding-top: 0;
    padding-bottom: 77px;
    overflow: visible;
    border-bottom: 1px solid $top-background-color;
    border-top: 1px solid $top-background-color;

    .navWide {
        display: none;
        margin: 0 auto;
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: stretch;
            font-size: larger;
            li {
                margin: 0.5em;
                a {
                    display: block;
                    padding: 1em;
                    text-decoration: none;
                    color: lavenderblush;
                }
                a:hover {
                    color: orange;
                }
            }
            #top {
                margin: 0;
                padding: 0;
                a {
                    margin: 0;
                    padding: 0;
                }
            }
            .dropdown {
                position: relative;
                display: block;
                margin: 0.5em;
                padding: 1em;
                color: lavenderblush;

                .dropdown-content {
                    display: none;
                    position: relative;
                    background-color: $top-background-color;
                    padding: 1em 0 1em 0;
                    text-align: center;
                }
            }
            .dropdown:hover .dropdown-content {
                display: block;
            }
        }
    }

    #menu-btn {
      color: $menu-element-color;
    }

    .mobile-nav {
      position: absolute;
      display: flex;
      .mobile-menu {
        div {
          flex: 1;
          padding: 1em;
          background-color: $menu-element-color;
          border-bottom: 1px solid $top-background-color;
          border-right: 1px solid $top-background-color;
          border-left: 1px solid $top-background-color;
          width: $mobile-menu-width;
          max-width: $mobile-menu-max-width;
          text-align: center;
        }

        a:hover {
          text-decoration: none;
        }
      }
    }
    #top-mobile {
      //margin-left: 10vw;
      margin-right: 0.5vw;
      h1 {
        text-align: right;
        color: $text-logo-color;
      }
      a img {
        display:block;
        margin:auto;
      }
    }
}

.hidden {
    display: none;
}

.mobile-menu {
    display: none;
}

#meta-top {
  background-color: $logo-color;
}

.expand {
    display: flex !important;
    flex-direction: column;
}

@media (min-width: 1100px) {
    nav .navWide {
        display: block;
    }

    nav .mobile-nav {
        display: none;
    }

    nav #top-mobile {
        display: none;
    }
}
