{% extends "wybory2000/base.html" %}

{% load static %}


{% block include %}
    {{ block.super }}

    <link href="{% static 'registration/css/register.css' %}"
        rel="stylesheet" type="text/css" >
    <script src="{% static 'registration/js/user.js' %}"></script>
{% endblock %}


{% block body %}
<form id="register-form" onsubmit="return false;">
    <input name="csrfmiddlewaretoken" value="C9pl5Go8WnaMiVqgauv7BkjJruxcxlUGOUX3GfmvAOMCptua1JIjO8LJyn05nJkG" type="hidden">
    <div class="form-group">
      <label class="control-label" for="id_username">Użytkownik</label>
      <input autofocus="" class="form-control" id="id_username" maxlength="150" name="username" placeholder="Użytkownik" title="Wymagana. 150 lub mniej znaków. Jedynie litery, cyfry i @/./+/-/_." value="Filip" required="" type="text">
    </div>
    <div class="form-group">
      <label class="control-label" for="id_password1">Hasło</label>
      <input class="form-control" id="id_password1" name="password1" placeholder="Hasło" title="" required="" type="password"></div>
    <div class="form-group">
      <label class="control-label" for="id_password2">Potwierdzenie hasła</label>
      <input class="form-control" id="id_password2" name="password2" placeholder="Potwierdzenie hasła" title="Wprowadź to samo hasło ponownie, dla weryfikacji." required="" type="password">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-star"></span> Zarejestruj
        </button>
    </div>
</form>
{% endblock %}
