html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 180px;
}

header {
    display: flex;
    margin-top: 2vh;
    padding: 2vw;
}

header > div {
    margin: auto;
}

#pkw-logo {
    flex: 1;
    width: 15vw;
    margin-left: 10vw;
}

#header {
    flex: 2;
    width: 22vw;
    text-align: right;
}

#header-year {
    width: 20vw;
    text-align: center;
}

#notification {
    position:fixed;
    top: 0px;
    width: 100%;
    z-index: 105;
    text-align:center;
    font-weight:normal;
    font-size: 14px;
    font-weight: bold;
    background-color: #FF7800;
    padding: 5px;
    min-height: 5vh;
}
#notification span.dismiss {
    border:2px solid #FFF;
    padding:0 5px;
    cursor:pointer;
    float:right;
    margin-right:10px;
}
#notification a {
    color:white;
    text-decoration:none;
    font-weight:bold
}

.success-notify {
    color: green;
}

.error-notify {
    color: red;
}

header em {
    font-weight: bold;
    font-style: normal;
}

.patriotic-font {
    color: darkred;
}

nav > ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

nav li {
    display: inline-block;
    margin: 1em;
    padding: 0.3em;
}

footer {
    display: flex;
    position: absolute;
    flex-direction: row;
    border-top: 1px solid;
    margin-top: 3vh;
    padding-top: 1vh;
    font-size: small;
    height: 150px;
    bottom: 0;
    width: 100%;
}

footer > div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}

@media screen and (max-width: 995px) , screen and (max-height: 700px) {
    footer {
        flex-direction: column;
    }

}

@media screen and (max-width: 795px) , screen and (max-height: 600px) {

    header {
        flex-direction: column;
    }

    nav ul {
        display: block;
    }

    nav li {
        margin: 0.5em;
        padding: 0;
    }

    header {
        display: block;
        margin-left: 0;
        padding: 0;
    }

    #header {
        text-align: center;
    }

}

thead tr {
    background: lightgray;
}

@media screen and (max-width: 995px) , screen and (max-height: 700px) {
    #pkw-logo {
        display: none;
    }

    #header {
      text-align: center;
      width: 94vw;
    }

    #header-year {
      width: 94vw;
    }

    header > div {
        margin: 0;
    }
}
